<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>23</integer>
		<key>y</key>
		<integer>79</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>90</integer>
		<key>y</key>
		<integer>34</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>210</integer>
		<key>y</key>
		<integer>53</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>270</integer>
		<key>y</key>
		<integer>38</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>420</integer>
		<key>y</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>585</integer>
		<key>y</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>735</integer>
		<key>y</key>
		<integer>66</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>850</integer>
		<key>y</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>930</integer>
		<key>y</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>50</integer>
		<key>y</key>
		<integer>120</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>160</integer>
		<key>y</key>
		<integer>130</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>270</integer>
		<key>y</key>
		<integer>170</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>401</integer>
		<key>y</key>
		<integer>120</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>480</integer>
		<key>y</key>
		<integer>180</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>620</integer>
		<key>y</key>
		<integer>195</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>675</integer>
		<key>y</key>
		<integer>133</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>730</integer>
		<key>y</key>
		<integer>145</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>850</integer>
		<key>y</key>
		<integer>190</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>920</integer>
		<key>y</key>
		<integer>110</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>110</integer>
		<key>y</key>
		<integer>220</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>130</integer>
		<key>y</key>
		<integer>264</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>270</integer>
		<key>y</key>
		<integer>264</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>380</integer>
		<key>y</key>
		<integer>269</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>533</integer>
		<key>y</key>
		<integer>240</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>666</integer>
		<key>y</key>
		<integer>280</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>680</integer>
		<key>y</key>
		<integer>230</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>820</integer>
		<key>y</key>
		<integer>218</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>888</integer>
		<key>y</key>
		<integer>288</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>1000</integer>
		<key>y</key>
		<integer>250</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>333</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>70</integer>
		<key>y</key>
		<integer>366</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>176</integer>
		<key>y</key>
		<integer>323</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>210</integer>
		<key>y</key>
		<integer>380</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>440</integer>
		<key>y</key>
		<integer>322</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>500</integer>
		<key>y</key>
		<integer>275</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>650</integer>
		<key>y</key>
		<integer>350</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>711</integer>
		<key>y</key>
		<integer>392</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>853</integer>
		<key>y</key>
		<integer>340</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>899</integer>
		<key>y</key>
		<integer>467</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>50</integer>
		<key>y</key>
		<integer>450</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>151</integer>
		<key>y</key>
		<integer>470</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>210</integer>
		<key>y</key>
		<integer>444</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>350</integer>
		<key>y</key>
		<integer>451</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>490</integer>
		<key>y</key>
		<integer>410</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>570</integer>
		<key>y</key>
		<integer>425</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>680</integer>
		<key>y</key>
		<integer>466</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>720</integer>
		<key>y</key>
		<integer>412</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>777</integer>
		<key>y</key>
		<integer>437</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>868</integer>
		<key>y</key>
		<integer>431</integer>
	</dict>
</array>
</plist>
